*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container{
    height: 100vh;
    width: 100cw;
    background: linear-gradient(to bottom, white, MediumBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container{
    width: 50%;
    border:1px solid black;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: aliceblue;
}
.inner-container ul{
    list-style: none;
}
.inner-container ul li{
    margin-top:10px;
    margin-left:10px;
}
.btn{
    text-align: center;
    padding: 4px;
    background: linear-gradient(to bottom, rgb(202, 221, 26), rgb(53, 220, 15));
    border: none;
    margin-top:10px;
    width: 80px;
    border-radius: 4px;
    margin-left: 40%;
}
#showResult{
    padding: 10px;
    margin: 10px;
    border:2px solid rgb(22, 19, 19);
    color: rgb(3, 28, 91);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
}
.showText{
    display: none;
}

.inActive{
    display: none;
}
.btn2{
    text-align: center;
    padding: 4px;
    background: linear-gradient(to bottom, rgb(8, 202, 137), rgb(79, 137, 123));
    border: none;
    margin-top:10px;
    width: 80px;
    border-radius: 4px;
    margin-left: 40%;

}
.scoreText{
    
}